/*body {
    font-family: "Garamond";
}
*/
.parallax { 
    /* Set a specific height */
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.first-image {
    background-image: url("../img/open_sky.jpg");
    opacity: 0.65;
}

.second-image {
    background-image: url("../img/forest_path.jpg");
    opacity: 0.65;
}

.third-image {
    background-image: url("../img/sun.jpg");
    opacity: 0.65;
}

.fourth-image {
    background-image: url("../img/sunset.jpg");
    opacity: 0.65;
}

.caption {
    font-size: 42px;
}

.front-base  {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateZ(0);
}

.title {
    font-size: 200%;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-weight: bolder;
    color: black;
}

.navbar-fixed-top {
    position:relative;
}

.img-overlay {
    position: relative;
}

.parallax-img {
    opacity: 0.65 !important;
}

.back-to-top {
    background: none;
    margin: 0;
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    z-index: 100;
    display: none;
    text-decoration: none;
    color: #ffffff;
    background-color: #0066ff;
}

.back-to-top i {
    font-size: 60px;
}